/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { SwoCore } from "../core.js";
import { dlv } from "../lib/dlv.js";
import { encodeFormQuery, encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { SwoError } from "../models/errors/swoerror.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";
import {
  createPageIterator,
  haltIterator,
  PageIterator,
  Paginator,
  URL_OVERRIDE,
} from "../types/operations.js";

/**
 * List measurements for a batch of metrics
 *
 * @remarks
 *   List metric measurements, potentially filtered and aggregated. This operation mimics the
 *   capabilities found in GET `/v1/metrics/{name}/measurements`, extending it for an entire batch of
 *   metrics that can be requested at once, over the same time interval.
 *
 *   It is legal to request the same metric multiple times, using different aggregations. For
 *   example, both the total for the interval (scalar) and a time series can be read simultaneously,
 *   using two different entries in the request payload. Entries in the response can be matched with
 *   the respective requests by metric name. When more than one exist for the same name, an `id`
 *   can be provided to disambiguate. This property will be echoed back unchanged and can be used
 *   for some or all entries, regardless of whether metrics repeat.
 *
 *   By default, this endpoint will omit response entries that include no measurements. This is done
 *   only when the request contains enough information for the client to successfully match all
 *   responses back to their respective requests—i.e., when there is at most one entry for each
 *   combination of metric name and `id`. This provides a cleaner response, especially in case where
 *   multiple pages need to be traversed and data for most metric entries is exhausted early.
 *   Otherwise, empty entries will be included as well and the output will be fully positional. This
 *   positional mode can be forced with `forcePositional`.
 *
 *   Pages can be navigated by following the links returned in `pageInfo`. Those requests must also
 *   be POST and must include the same payload that was initially sent. Behavior is undefined
 *   otherwise.
 */
export function metricsListMultiMetricMeasurements(
  client: SwoCore,
  request: operations.ListMultiMetricMeasurementsRequest,
  options?: RequestOptions & { [URL_OVERRIDE]?: URL },
): APIPromise<
  PageIterator<
    Result<
      operations.ListMultiMetricMeasurementsResponse,
      | errors.CommonBadRequestErrorResponse
      | errors.CommonUnauthorizedErrorResponse
      | errors.CommonInternalErrorResponse
      | SwoError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    { url: string }
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: SwoCore,
  request: operations.ListMultiMetricMeasurementsRequest,
  options?: RequestOptions & { [URL_OVERRIDE]?: URL },
): Promise<
  [
    PageIterator<
      Result<
        operations.ListMultiMetricMeasurementsResponse,
        | errors.CommonBadRequestErrorResponse
        | errors.CommonUnauthorizedErrorResponse
        | errors.CommonInternalErrorResponse
        | SwoError
        | ResponseValidationError
        | ConnectionError
        | RequestAbortedError
        | RequestTimeoutError
        | InvalidRequestError
        | UnexpectedClientError
        | SDKValidationError
      >,
      { url: string }
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) =>
      operations.ListMultiMetricMeasurementsRequest$outboundSchema.parse(value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [haltIterator(parsed), { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload.RequestBody, { explode: true });

  const path = options?.[URL_OVERRIDE]
    ? ""
    : pathToFunc("/v1/metrics/measurements")();

  const query = options?.[URL_OVERRIDE]
    ? options[URL_OVERRIDE].search.substring(1)
    : encodeFormQuery({
      "forcePositional": payload.forcePositional,
      "pageSize": payload.pageSize,
      "skipToken": payload.skipToken,
    }, { explode: false });

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));

  const secConfig = await extractSecurity(client._options.apiToken);
  const securityInput = secConfig == null ? {} : { apiToken: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: options?.serverURL ?? client._baseURL ?? "",
    operationID: "listMultiMetricMeasurements",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiToken,
    retryConfig: options?.retries
      || client._options.retryConfig
      || {
        strategy: "backoff",
        backoff: {
          initialInterval: 500,
          maxInterval: 60000,
          exponent: 1.5,
          maxElapsedTime: 3600000,
        },
        retryConnectionErrors: true,
      }
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["5XX"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.[URL_OVERRIDE]?.href || options?.serverURL,
    path: path,
    headers: headers,
    query: query,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [haltIterator(requestRes), { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "4XX", "500", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [haltIterator(doResult), { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result, raw] = await M.match<
    operations.ListMultiMetricMeasurementsResponse,
    | errors.CommonBadRequestErrorResponse
    | errors.CommonUnauthorizedErrorResponse
    | errors.CommonInternalErrorResponse
    | SwoError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.ListMultiMetricMeasurementsResponse$inboundSchema, {
      key: "Result",
    }),
    M.jsonErr(400, errors.CommonBadRequestErrorResponse$inboundSchema),
    M.jsonErr(401, errors.CommonUnauthorizedErrorResponse$inboundSchema),
    M.jsonErr(500, errors.CommonInternalErrorResponse$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [haltIterator(result), {
      status: "complete",
      request: req,
      response,
    }];
  }

  const nextFunc = (
    responseData: unknown,
  ): {
    next: Paginator<
      Result<
        operations.ListMultiMetricMeasurementsResponse,
        | errors.CommonBadRequestErrorResponse
        | errors.CommonUnauthorizedErrorResponse
        | errors.CommonInternalErrorResponse
        | SwoError
        | ResponseValidationError
        | ConnectionError
        | RequestAbortedError
        | RequestTimeoutError
        | InvalidRequestError
        | UnexpectedClientError
        | SDKValidationError
      >
    >;
    "~next"?: { url: string };
  } => {
    let nextURL = dlv(responseData, "pageInfo.nextPage");
    if (typeof nextURL !== "string") {
      return { next: () => null };
    }

    try {
      if (nextURL.startsWith("/")) {
        nextURL = new URL(nextURL, client._baseURL ?? "").href;
      }
      new URL(nextURL);
    } catch (_error) {
      return { next: () => null };
    }

    const nextVal = () =>
      metricsListMultiMetricMeasurements(
        client,
        {
          ...request,
        },
        { ...options, [URL_OVERRIDE]: new URL(nextURL) },
      );

    return { next: nextVal, "~next": { url: nextURL } };
  };

  const page = { ...result, ...nextFunc(raw) };
  return [{ ...page, ...createPageIterator(page, (v) => !v.ok) }, {
    status: "complete",
    request: req,
    response,
  }];
}
